.about__container {
  height: 100%;
  position: relative;
  padding: 40px 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

.about__left-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 10px;
}

/* custom scroll*/

.about__container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.about__container::-webkit-scrollbar-thumb {
  background-color: #607b96;
  border-radius: 50px;
}

.about__container::-webkit-scrollbar-track {
  background-color: #011221;
}

.about__container {
  scrollbar-color: #607b96 #011221;
  scrollbar-width: auto;
}
