.contact__container {
  height: 100%;
  position: relative;
  padding: 40px 80px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contact__left-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutme {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutme h2 {
  padding-top: 15px;
  font-size: 26px;
}

.aboutme p {
  color: #607b96;
  font-size: 18px;
  margin-left: 20px;
}

#me {
  padding-top: 20px;
  float: left;
  margin-right: 20px;
  width: 200px;
  height: auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 650px;
}

.contact__form input {
  background-color: #04101d;
  font-size: 20px;
  color: #607b96;
  border: 1px solid #607b96;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  width: 100%;
}

.contact__form label {
  font-size: 20px;
}

#btn {
  background-color: #002a4d;
  color: white;
  cursor: pointer;
  width: 102%;
  padding: 10px;
}

#textarea {
  min-height: 150px;
  color: #607b96;
  font-size: 20px;
  background-color: #04101d;
  padding: 5px;
  outline: none;
  border: none;
  width: 100%;
  border: 1px solid #607b96;
  border-radius: 3px;
}
