.footer {
  border-top: 1px solid #1e2d3d;
  display: flex;
  justify-content: flex-end;
  background-color: #001d35;
  padding: 2px;
}

.footer__ul {
  display: flex;
  list-style-type: none;
  align-items: center;

  border-left: 1px solid #1e2d3d;
}

.footer__li {
  padding: 10px;
  color: #607b96;
  font-size: 16px;
}

.footer__stack-icons {
  list-style-type: none;
  gap: 15px;
  display: flex;
  padding-top: 5px;
  align-items: center;
  padding-right: 10px;
}

.heading__orange {
  color: #fea55f;
}
