.footer {
  border-top: 1px solid #1e2d3d;
  display: flex;
  justify-content: flex-end;
  background-color: #001d35;
  padding: 2px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.footer__ul {
  display: flex;
  list-style-type: none;
  align-items: center;

  border-left: 1px solid #1e2d3d;
}

.footer__li {
  padding: 10px;
  color: #607b96;
  font-size: 16px;
}

.footer__stack-icons {
  list-style-type: none;
  gap: 15px;
  display: flex;
  padding-top: 5px;
  align-items: center;
  padding-right: 10px;
}

.heading__orange {
  color: #fea55f;
}

@media (max-width: 1250px) {
  .footer__li {
    font-size: 12.8px;
  }
  .footer__stack-icons li img {
    width: 20px;
  }

  #firebase {
    width: 18px;
  }

  #figma {
    width: 14px;
  }
  .footer__stack-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__stack-icons {
    margin-top: 4px;
  }
  .footer {
    justify-content: center;
  }

  .footer__ul {
    border-left: none;
  }
}
