.hello__container {
  /*border: 1px solid #38f00025;*/
  height: 100%;
  position: relative;
}

.hello__left-bar {
  /*border: 1px solid #ff480025;*/
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.hello__heading-3 {
  font-size: 29.69px;
}

h1 {
  font-size: 62px;
  padding-top: 10px;
}

.hello__text__container {
  display: flex;
  flex-direction: column;
}

.skill {
  color: #fea55f;
  font-size: 32px;
}

#skill {
  color: #607b96;
}

.hello__comment {
  color: #607b96;
  padding-top: 40px;
}

.hello__ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.hello__ul li {
  color: #607b96;
  font-size: 20px;
}

/*ICONS*/
#rock1 {
  z-index: 0;
  position: absolute;
  top: 100px;
  left: 0px;
}

#land {
  z-index: 0;
  position: absolute;
  bottom: 60px;
  right: 0px;
}

#cloud {
  z-index: 0;
  position: absolute;
  top: 10px;
  right: 0px;
}

#land1 {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

#tube {
  z-index: 0;
  position: absolute;
  bottom: 80px;
  left: 100px;
}

#me1 {
  z-index: 2;
  position: absolute;
  bottom: 295px;
  right: 285px;
}

#levitateRock {
  position: absolute;
  bottom: 80px;
  right: 200px;
  z-index: 1;
}

#cloud2 {
  z-index: 0;
  position: absolute;
  bottom: 120px;
  right: 395px;
}

#rock3 {
  z-index: 0;
  position: absolute;
  top: 10px;
  left: 400px;
}

#comp5 {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 430px;
}

#htmlIcon {
  z-index: 1;
  position: absolute;
  top: 250px;
  right: 220px;
  z-index: 1;
  padding: 5px;
  background-color: #003a69;
  border-radius: 50px;
  animation: levitate 2s ease-in-out infinite;
}

#cssIcon {
  z-index: 1;
  position: absolute;
  top: 400px;
  right: 420px;
  z-index: 1;
  padding: 5px;
  background-color: #003a69;
  border-radius: 50px;
  animation: levitate 2s ease-in-out infinite;
}

#jsIcon {
  z-index: 1;
  position: absolute;
  top: 300px;
  right: 470px;
  z-index: 1;
  padding: 5px;
  background-color: #003a69;
  border-radius: 50px;
  animation: levitate 2s ease-in-out infinite;
}

#reactIcon {
  z-index: 1;
  position: absolute;
  top: 365px;
  right: 200px;
  z-index: 1;
  padding: 5px;
  background-color: #003a69;
  border-radius: 50px;
  animation: levitate 2s ease-in-out infinite;
}

/* LEVITATE EFFECT*/

@keyframes levitate {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* TYPE-WRITER*/

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid #fea55f;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fea55f;
  }
}

/* MEDIA QUERIES*/

@media (max-width: 1500px) {
  #rock1 {
    width: 30px;
  }

  #levitateRock {
    width: 250px;
  }

  #me1 {
    width: 100px;
    bottom: 240px;
    right: 265px;
  }

  #cloud2 {
    width: 190px;
    bottom: 110px;
    right: 340px;
  }

  #htmlIcon {
    top: 350px;
    right: 190px;
    width: 30px;
  }

  #cssIcon {
    top: 410px;
    right: 360px;
    width: 30px;
  }

  #jsIcon {
    top: 340px;
    right: 410px;
    width: 30px;
  }

  #reactIcon {
    top: 430px;
    right: 190px;
    width: 30px;
  }
}

@media (max-width: 1250px) {
  #rock1 {
    width: 30px;
  }

  .hello__heading-3 {
    font-size: 23.752px;
  }

  h1 {
    font-size: 49.6px;
    padding-top: 10px;
  }

  .skill {
    font-size: 25.6px;
  }

  .hello__ul li {
    font-size: 16px;
  }
}

@media (max-width: 1090px) {
  #levitateRock {
    display: none;
  }

  #me1 {
    bottom: 80px;
    left: 30px;
    width: 80px;
  }

  #rock3 {
    width: 100px;
    top: 20px;
    left: 80px;
  }

  #comp5 {
    width: 50px;
    top: 17px;
    left: 95px;
  }

  #cloud2 {
    width: 100px;
    bottom: 10px;
    right: 30px;
  }

  #htmlIcon {
    display: none;
  }

  #cssIcon {
    display: none;
  }

  #jsIcon {
    display: none;
  }

  #reactIcon {
    top: 590px;
    left: 115px;
    width: 15px;
    z-index: 0;
  }

  #tube {
    z-index: 1;
  }
}

@media (max-width: 1090px) {
  #rock1 {
    width: 30px;
  }

  .hello__heading-3 {
    font-size: 16.6264px;
  }

  h1 {
    font-size: 34.72px;
    padding-top: 10px;
  }

  .skill {
    font-size: 17.92px;
  }

  .hello__ul li {
    font-size: 11.2px;
  }

  .hello__comment {
    padding-top: 20px;
  }
}

@media (max-height: 940px) {
  #htmlIcon {
    display: none;
  }

  #cssIcon {
    display: none;
  }

  #jsIcon {
    display: none;
  }

  #reactIcon {
    display: none;
  }

  .hello__text__container {
    padding-left: 0px 0px 0px 0px;
  }

  .hello__heading-3 {
    font-size: 12px;
  }

  h1 {
    font-size: 25.512px;
    padding-top: 10px;
  }

  .skill {
    font-size: 12.232px;
  }

  .hello__ul li {
    font-size: 10px;
  }

  .hello__comment {
    padding-top: 18px;
    font-size: 10px;
  }

  #me1 {
    bottom: 75px;
    left: 30px;
    width: 60px;
  }

  #cloud {
    width: 190px;
    top: 90px;
  }
}
