.nav {
  border-bottom: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
  background-color: #001d35;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 5;
}

.name-with-space {
  padding: 5px;
}

.nav__name {
  color: #607b96;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.nav__menu__container {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav__menu {
  padding: 10px;
  color: #607b96;
  font-size: 16px;
  border-left: 1px solid #1e2d3d;
  border-bottom: 3px solid #1e2d3d00;
  padding: 15px 25px;
  transition: 0.35s;
}

.nav__list {
  margin-left: auto;
  display: flex;
}

.nav__contact {
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  border-bottom: 3px solid #1e2d3d00;
  padding: 15px 25px;
  background-color: #002a4d;
  transition: 0.35s;
}

.nav__contact:hover {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #fea55f;
}

.nav__menu:hover {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #fea55f;
}

#projects {
  border-right: 1px solid #1e2d3d;
}

/*active Section*/

.nav__menu.active {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #fea55f;
}

.nav__contact.active {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #fea55f;
}

.viewProjects-btn {
  margin-top: 10px;
  background-color: #001d35;
  border: 2px solid #1e2d3d;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.viewProjects-btn:hover {
  background-color: #002544;
  color: #fea55f;
}

@media (max-width: 1250px) {
  .nav__menu {
    font-size: 12.8px;
  }

  .nav__contact {
    font-size: 12.8px;
  }

  .nav__name {
    font-size: 12.8px;
  }
}

@media (max-width: 1090px) {
  .nav__name {
    font-size: 10px;
    padding: 5px;
  }

  .nav {
    padding: 5px;
  }

  .nav__menu__container {
    display: none;
  }

  .nav__contact {
    display: none;
  }
  .mobile-menu select {
    background-color: #002a4d;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #1e2d3d;
    cursor: pointer;
  }
}

@media (min-width: 1090px) {
  .mobile-menu select {
    display: none;
  }
}
