.projects__container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  padding: 40px 80px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: center;
}

.projects__card {
  background-color: #011221;
  border: 1px solid #1e2d3d;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: 10px;
  transition: 0.35s;
  box-shadow: 0px 0px 5px 1px #00000054;
}

.projects__card:hover {
  background-color: #011221;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: 10px;
}

/* custom scroll*/

.projects__container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.projects__container::-webkit-scrollbar-thumb {
  background-color: #607b96;
  border-radius: 50px;
}

.projects__container::-webkit-scrollbar-track {
  background-color: #011221;
}

.projects__container {
  scrollbar-color: #607b96 #011221;
  scrollbar-width: auto;
}
